<!-- nav.html -->
<nav class="navbar">
    <div class="container">
        <ul class="navbar_list">
            <li><a href="/" th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="/quotes" th:href="@{/quotes}"><i class="fas fa-store"></i> Vendors</a></li>
            <li><a href="/projects" th:href="@{/projects}"><i class="fas fa-briefcase"></i> Projects</a></li>
            <li><a href="/quotes" th:href="@{/quotes}"><i class="fas fa-file-alt"></i> Quotes</a></li>
        </ul>
    </div>
</nav>
